@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
@import "fonts/SalmaproMedium-0Wooo.otf"; 
html, body, [class*="css"] {
    font-family: 'Salma Pro'; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
.css-1xarl3l.e1vioofd1{
    display:none;
    }
.css-wnm74r{
    text-align:center;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    }
    
.e1ugi8lo1.css-jhkj9c.ex0cdmw0{
    vertical-align: middle;
    overflow: hidden;
    color: inherit;
    fill: currentcolor;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.25rem;
    width: 40px;
    height: 40px;
    margin: 0px 0.125rem 0px 0px;
}