.number {
  position: relative;
  font-size: 20px;
  }

  .number::before {
  content: attr(data-sign);
  position: absolute;
  left: -20px;
  }

  .number.positive::before {
  color: green;
  content: '▲';
  }

  .number.negative::before {
  color: red;
  content: '▼';
  }

  .number.positive {
  color: green;
  }

  .number.negative {
  color: red;
  }