@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
@font-face{
    font-family:SalmaproMedium ;
    src: "/fonts/SalmaproMedium-0Wooo.otf"; 
}


.css-6qob1r {
    
    background-color: rgb(211 236 250);
    border-radius: 16px;
    }



h3 [class*="css"] {
    /* font-family: Roboto; 
    font-size: 18px;
    font-weight: 500;
    color: #091747; */

    color: var(--black, hsla(210, 100%, 1%, 0.586));

 

    /* H3 */
    font-family: Roboto;
    
    font-style: normal;
    font-weight: 700;
    
    

}
.css-1xarl3l.e1vioofd1{
    display:none;
    }
.css-wnm74r{
    text-align:center;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    }
    
.e1ugi8lo1.css-jhkj9c.ex0cdmw0{
    vertical-align: middle;
    overflow: hidden;
    color: inherit;
    fill: currentcolor;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.25rem;
    width: 40px;
    height: 40px;
    margin: 0px 0.125rem 0px 0px;
}
/* .css-keje6w.esravye1{
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888;
    padding: 8px;
    
    background: #ffffff;
    text-shadow: -2px -1px 0px rgb(0, 104, 201), 2px 1px red;
} */
/* .css-1r6slb0.esravye1{
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888;
    padding: 8px;
    
    background: #ffffff;
} */

span.num {
    color: black;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
    }
span.text {
 
    color: #6E7279; font-size: 20px; font-weight: 300; line-height: 20px; word-wrap: break-word;text-align: center;
    }

span.text2{
    color: #8E8D8D; font-size: 12px; font-weight: 300; line-height: 24px; word-wrap: break-word;text-align: center;
    }


#wrap {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    }
    .container {

    width: 314px;
        height: 210px;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        position: relative;
        font-size: 16px;
        background: linear-gradient(138deg, rgba(198.55, 215.22, 244.37, 0.56) 0%, rgba(96, 239, 255, 0.55) 100%);
        border-radius: 0.5em;
        box-shadow: -1px -1px 4px #aaa9a9a2, 1px 1px 7px rgba(147, 149, 151, 0.671);
    }    
/* [data-testid="column"] :hover {
    box-shadow: 5px 10px 18px #888888;
    text-shadow: -2px -1px 0px rgb(0, 104, 201), 2px 1px red;
} */




/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div.css-ocqkz7.esravye3 > div:nth-child(1){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div.css-ocqkz7.esravye3 > div:nth-child(2){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div.css-ocqkz7.esravye3 > div:nth-child(3){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888;
    padding: 8px;
    
    background: #ffffff;
} */

/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div > div:nth-child(1){
    
    background: red;
} */
/*button4*/
/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div > div:nth-child(1){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 0px white !important;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div > div:nth-child(2){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 0px white !important;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div > div:nth-child(3){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 0px white !important;
    padding: 8px;
    
    background: #ffffff;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(22) > div > div > div:nth-child(1){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 0px white !important;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(22) > div > div > div:nth-child(2){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888888 !important;
    padding: 8px;
    
    background: #ffffff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(21) > div > div > div:nth-child(3){
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 0px white !important;
    padding: 8px;
    
    background: #ffffff;
} */




.soccer-icon {
    width: 50px;
  }
  
.icon-header {
      font-size: 18px;
      line-height: 32px;
      display: block;
      padding-right: 20px
  }
  
.icon-area {
   display: flex;
   align-items: center;
   max-width: 80ch; /* for demo */
  }
  
.column {
   display: flex;
   flex-direction: column;
  }
  
.column h3, .column p, .icon-area p {
    margin: 0;
  }



